/* mainColor: #9093e3 || #e9ecf3*/
/* h1Color: #49525e */
/* pColor: #a9b2bf */
/* btnColor: #49525d */

/**********header************/

.li_header {
    width: 100%;
    height: 77px;
    background: #9093e3;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

header {
    width: 95%;
    height: 78px;
    margin: 0 auto;
    overflow: hidden;
}

header .title {
    float: left;
    line-height: 77px;
}

header .title h1{
    color: #565e78;
}

header .nav {
    float: right;
    height: 78px;
    line-height: 77px;
    font-size: 14px;
}

header .nav a {
    color: #565e78;
    margin-right: 50px;
}

header .nav a:hover {
    color: rgb(226, 161, 21);
}

header .nav .search {
    color: #565e78;
    width: 20px;
    line-height: 90px;
    vertical-align: middle;
}

